<div class="container content">
	<div class="page-header">
		<p class="blue-grey-text darken-4-text"><strong>{{ device_name }} - Edit</strong></p>
		<div class="divider"></div>
	</div>

	<div class="page-content blue-grey lighten-5">
		<div class="row">
			<div class="input-field col s12">
	            <input id="device" type="text" class="validate" ng-model="device.name">
	            <label for="device" class="active">Device</label>
	        </div>

			<div class="input-field col s12">
	            <input id="location" type="text" class="validate" ng-model="device.location">
	            <label for="location" class="active">Location</label>
	        </div>

			<div class="input-field col s12">
	            <input id="interval" type="number" class="validate" ng-model="device.interval">
	            <label for="interval" class="active">Interval (Seconds)</label>
	        </div>
	    </div>

	    <ul class="collection form-group" data-ng-repeat="aType in allType" ng-show="aType.status">
		    <li class="collection-item" id="addType" showTypeLabel(aType)>
			    <div id="type" class="row">
			    	<form id="selectType">
						<div class="select-box col s6">
							<select ng-model="aType.type_id" convert-to-number class="black-text">
								<option value="" disabled selected>Choose Type</option>
								<option ng-selected="{{ aType.type_id == type.id }}" my-repeat-directive ng-repeat="type in types" class="black-text" value="{{ type.id }}">{{ type.type }}</option>
							</select>
						</div>
					</form>

					<form id="selectUnit">
						<div class="select-box col s6">
							<select ng-model="aType.unit_id" convert-to-number class="black-text">
								<option value="" disabled selected>Choose Unit</option>
								<option ng-selected="{{ aType.unit_id == unit.id }}" my-repeat-directive ng-repeat="unit in units[aType.type_id]" class="black-text" value="{{ unit.id }}">{{ unit.unit }}</option>
							</select>
						</div>
					</form>

			        <div class="input-field col s8">
			            <input disabled id="formula" type="text" class="validate" ng-model="aType.formula">
			            <label for="formula" class="formula-label-{{ $index }}" ng-if="!aType.hasOwnProperty('formula')">Formula</label>
			            <label for="formula" class="formula-label-{{ $index }} active" ng-if="aType.hasOwnProperty('formula')">Formula</label>
			        </div>

			        <div class="col s3">
			        	<div class="formula-btn center">
			        		<button ng-click="modal($index)" class="btn modal-trigger center">Formula</button>
			        	</div>
			        	
			        	<div id="modal1" class="modal modal-fixed-footer">
							<div class="modal-content">
								<h4>Formula</h4>
								<div class="formula-box blue-grey lighten-5">
									<p>{{ formula[numModal] }}</p>
								</div>

								<div class="container">
									<div class="row num-btn">
										<div class="numpad col s6">
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("1", numModal)'>1</button>
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("2", numModal)'>2</button>
											<button class="btn-floating waves-effect waves-light num num-last" ng-click='updateOutput("3", numModal)'>3</button>
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("4", numModal)'>4</button>
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("5", numModal)'>5</button>
											<button class="btn-floating waves-effect waves-light num num-last" ng-click='updateOutput("6", numModal)'>6</button>
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("7", numModal)'>7</button>
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("8", numModal)'>8</button>
											<button class="btn-floating waves-effect waves-light num num-last" ng-click='updateOutput("9", numModal)'>9</button>
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("x", numModal)'>x</button>
											<button class="btn-floating waves-effect waves-light num" ng-click='updateOutput("0", numModal)'>0</button>
											<button class="btn-floating waves-effect waves-light num num-last" ng-click='deleteOutput("one", numModal)'>C</button>
										</div>

										<div class="center col s3">
											<button class="btn waves-effect waves-light symbol amber" ng-click='updateOutput("+", numModal)'>ADD</button>
										</div>
										<div class="center col s3">
											<button class="btn waves-effect waves-light symbol amber" ng-click='updateOutput("-", numModal)'>SUB</button>
										</div>

										<div class="center col s3">
											<button class="btn waves-effect waves-light symbol amber" ng-click='updateOutput("*", numModal)'>MUL</button>
										</div>

										<div class="center col s3">
											<button class="btn waves-effect waves-light symbol amber" ng-click='updateOutput("/", numModal)'>DIV</button>
										</div>

										<div class="center col s3">
											<button class="btn waves-effect waves-light symbol amber" ng-click='updateOutput("**", numModal)'>POW</button>
										</div>

										<div class="center col s3">
											<button class="btn-floating waves-effect waves-light symbol amber" ng-click='updateOutput("(", numModal)'>(</button>
											<button class="btn-floating waves-effect waves-light symbol amber" ng-click='updateOutput(")", numModal)'>)</button>
										</div>

										<div class="center col s6">
											<button class="btn waves-effect waves-light symbol amber" ng-click='deleteOutput("all", numModal)'>CLEAR</button>
										</div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<a ng-click="close()" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
							</div>
						</div>
			        </div>

			        <div class="formula-btn center col s1" ng-if="numType > 1">
			        	<a class="btn-floating waves-effect waves-light red right"><i class="material-icons" ng-click="removeType($index)">delete</i></a>
			        </div>
			    </div>
			    </div>
			</li>
		</ul>

		<div class="row center">
	    	<a class="btn-floating waves-effect waves-light green accent-3" ng-click="addNewType()"><i class="material-icons">add</i></a>
	    </div>

	    <div class="row">
	    	<button ng-click="back(device.id)" class="btn waves-effect waves-light left">Back</button>
	    	<button ng-click="submit()" class="btn waves-effect waves-light right" type="submit" name="action">Save</button>
	    </div>
	</div>
</div>